.chat-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  overflow: hidden;
}
.box{
  width: 375px;
  margin: 0 auto;
  background: #f6f7f6;
  border-radius: 0 0 30px 0;
  padding-bottom: 0;
}
.big-wrapper {
  width: 100%;
  overflow-y: scroll;
  height: 80vh;
}
.chat-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  position: relative;
}
.chat-header .name {
  font-size: 20px;
  font-weight: bold;
}
.img-back {
  width: 14px;
  position: absolute;
  top: 10px;
  left: 30px;
}
.chat-box {
  width: 100%;
}
.chat-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #666666;
  font-weight: 450;
  padding: 15px 0;
}
.chat-left-box {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}
.chat-left-box .left-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}
.left-img>a{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
}
.chat-left-box .left-txt {
  max-width: 236px;
  padding-top: 3px;
  margin-left: 10px;
}
.chat-left-box .left-txt .txt {
  background: #ffffff;
  padding: 8px 8px;
  border-radius: 6px;
  position: relative;
}
.Lsanjiao {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid #ffffff;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  left: -10px;
}
.chat-right-box {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.chat-right-box .right-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}
.chat-right-box .right-txt {
  max-width: 236px;
  padding-top: 3px;
  margin-right: 10px;
}
.chat-right-box .right-txt .txt {
  background: #ffffff;
  padding: 8px 8px;
  border-radius: 6px;
  position: relative;
}
.Rsanjiao {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: -10px;
}
.big-wrapper::-webkit-scrollbar {display:none}
.chat-footer {
  position: fixed;
  bottom: 0;
  width: 375px;
  background: #ffffff;

}
.chat-footer-box1 {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 10px 0 10px;
}
.chat-footer-box2 {
  height: 40px;
  width: 100%;
}
.Voice {
  width: 25px;
  
}
.InpuBox {
  width: 288px;
  height: 30px;
  border-radius: 2.6667vw;
}
.InpuBox input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #999999;
  outline:none; 
  padding: 0 10px;
  box-sizing: border-box;
}