.box-wrapper {
  width: 100%;
  height: 100%;
  background-color: #efece8;
  min-height: 718px;
}

.box {
  background-color: #ea6e3c;
  border-radius: 0 0 0 25px;
  box-sizing: border-box;
  padding-bottom: 30.75px;
}

.myTicketTitle {
  width: 100%;
  padding-top: 3.75px;
  display: flex;
}

.myTicketTitle .back {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-left: 28.5px;
}

.myTicketTitle .title {
  width: 60%;
  margin-left: 17.5px;
  margin-top: 5px;
}

.myTicketTite2 {
  width: 26%;
  margin-left: 41.25px;
  margin-top: 12.499875px;
}

.myTicketTitle-list-box {
  width: 100%;
  padding-bottom: 47.5px;
  margin-top: -22.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myTicketTitle-list-box .list {
  width: 86%;
  height: 288.75px;
  position: relative;
  background-color: #f8deb7;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
}

.myTicketTitle-list-box .list .left {
  width: 13.125px;
  height: 288.75px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4.5px 0 0 4.5px;
  overflow: hidden;
}

.myTicketTitle-list-box .list .right {
  width: 13.5px;
  height: 288.75px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 4.5px 4.5px 0;
  overflow: hidden;
}

.myTicketTitle-list-box .list-content-box {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.myTicketTitle-list-box .list-content-box .list-one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 105px;
}

.myTicketTitle-list-box .list-content-box .list-one-img {
  width: 30%;
  height: 100%;
}

.myTicketTitle-list-box .list-content-box .list-one-txt {
  width: 55%;
  height: 100%;
}

.myTicketTitle-list-box .list-content-box .list-one-txt h3 {
  font-size: 14px;
  color: #000000;
  margin-bottom: 3.75px;
}

.list-one-txt .adress {
  display: flex;
  align-items: center;
  margin-top: 1.875px;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 3.75px;
}

.list-one-txt .adress img {
  width: 10.5px;
}

.list-one-txt .adress .adress-txt {
  margin-left: 5.25px;
}

.list-content-box .list-content-price {
  width: 100%;
  border-bottom: 1px solid #ea6e3c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0;
  padding-bottom: 5.25px;
  margin-top: -4.5px;
}

.list-content-box .list-content-price span {
  font-size: 13.5px;
  color: #ea6e3c;
  font-weight: bold;
}

.list-content-box .list-content-price img {
  width: 12px;
}